<!--リスト 5.25:Contactページのビューを追加する green-->
<!--app/views/static_pages/contact.html.erb-->

<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Contact the Ruby on Rails Tutorial about the sample app at the
  <a href="https://railstutorial.jp/contact">contact page</a>.
</p>
