<!--リスト 10.52:indexページの完全なリファクタリング green-->
<!--リスト 10.50:indexビューに対する最初のリファクタリング-->
<!--リスト 10.45:indexページでpaginationを使う-->
<!--リスト 10.37:ユーザーのindexビュー-->
<!--app/views/users/index.html.erb-->


<!--< % provide(:title, 'All users') %>-->
<!--<h1>All users</h1>-->

<!--< %= will_paginate %>    <!--リスト 10.45:indexページでpaginationを使う-->-->

<!--<ul class="users">-->
<!--  < %= render @users %>  <!--リスト 10.52:indexページの完全なリファクタリング green-->-->
  <!--< %= render user %>-  リスト 10.50:indexビューに対する最初のリファクタリング-->
<!--</ul>-->

<!--< %= will_paginate %>    <!--リスト 10.45:indexページでpaginationを使う-->-->